@font-face {
    font-family: 'Baloo2';
    src: url('/fonts/baloo-2/Baloo2-Regular.ttf');
}

body {
    background-image: linear-gradient(to bottom right, #E7DEFB, #80e9f5 );
}

/*Barra de navegación superior*/
header {
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-icon {
  display: flex;
  align-items: center;
}

.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
}

#menu-btn, #notifications-btn, #profile-btn {
  background-color: transparent;
  border: none;
  color: #F27294;
  font-size: 28px;
  margin-right: 10px;
  cursor: pointer;
  text-shadow: #735DBF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#logo img {
  height: 80px;
}

/*Recuadros horizontales*/
.contenedor {
  display: flex;
  flex-direction: column;
}

.recuadro {
  height: 200px;
  background-color: #A79BF2;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.texto-sin-fondo {
  font-size: 24px;
  color: #fff;
}

.texto-con-fondo {
  font-size: 24px;
  color: #fff;
  background-color: #F27294;
  padding: 10px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

td {
  border: 1px solid #fff;
  padding: 10px;
}

.texto-pequeño{
  color: #fff;
}


